:root {
  --trello-blue: #0079bf;
  --trello-green: #61bd4f;
  --trello-yellow: #f2d600;
  --trello-orange: #ff9f1a;
  --trello-red: #eb5a46;
  --trello-purple: #c377e0;
  --trello-pink: #ff78cb;
  --trello-lime: #51e898;
  --trello-sky: #00c2e0;
  --trello-grey: #4d4d4d;
  --trello-dark-grey: #344563;

  /* Background Colors */
  --bg-primary: var(--trello-blue);
  --bg-success: var(--trello-green);
  --bg-warning: var(--trello-yellow);
  --bg-danger: var(--trello-red);
  --bg-info: var(--trello-sky);
  --bg-secondary: var(--trello-grey);

  /* Light Variants */
  --trello-blue-light: hsl(204, 100%, 75%); /* Lightened */
  --trello-green-light: hsl(123, 60%, 75%); /* Lightened */
  --trello-yellow-light: hsl(55, 85%, 75%); /* Lightened */
  --trello-orange-light: hsl(33, 100%, 75%); /* Lightened */
  --trello-red-light: hsl(3, 77%, 75%); /* Lightened */
  --trello-purple-light: hsl(276, 64%, 75%); /* Lightened */
  --trello-pink-light: hsl(330, 100%, 85%); /* Lightened */
  --trello-lime-light: hsl(144, 77%, 75%); /* Lightened */
  --trello-sky-light: hsl(182, 100%, 75%); /* Lightened */
  --trello-grey-light: hsl(0, 0%, 75%); /* Lightened */

  /* Text Colors */
  --text-primary: var(--trello-dark-grey);
  --text-secondary: var(--trello-grey);
  --text-success: var(--trello-green);
  --text-warning: var(--trello-yellow);
  --text-danger: var(--trello-red);
  --text-info: var(--trello-sky);
  --text-light: #ffffff;
  --text-dark: #000000;

  /* Border Colors */
  --border-primary: var(--trello-blue);
  --border-success: var(--trello-green);
  --border-warning: var(--trello-yellow);
  --border-danger: var(--trello-red);
  --border-info: var(--trello-sky);
  --border-secondary: var(--trello-grey);

  /* Button Colors */
  --btn-primary-bg: var(--trello-blue);
  --btn-primary-border: var(--trello-blue);
  --btn-primary-color: var(--text-light);

  --btn-success-bg: var(--trello-green);
  --btn-success-border: var(--trello-green);
  --btn-success-color: var(--text-light);

  --btn-warning-bg: var(--trello-yellow);
  --btn-warning-border: var(--trello-yellow);
  --btn-warning-color: var(--text-dark);

  --btn-danger-bg: var(--trello-red);
  --btn-danger-border: var(--trello-red);
  --btn-danger-color: var(--text-light);

  --btn-info-bg: var(--trello-sky);
  --btn-info-border: var(--trello-sky);
  --btn-info-color: var(--text-light);

  --btn-secondary-bg: var(--trello-grey);
  --btn-secondary-border: var(--trello-grey);
  --btn-secondary-color: var(--text-light);

  /* Font Sizes */
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-md: 1rem; /* 16px */
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-xxl: 1.5rem; /* 24px */
  --font-size-display1: 2.5rem; /* 40px */
  --font-size-display2: 3rem; /* 48px */
  --font-size-display3: 3.5rem; /* 56px */
  --font-size-display4: 4rem; /* 64px */
}

body {
  background: linear-gradient(-30deg, var(--bg-primary) 0%, var(--bg-danger) 150%), linear-gradient(135deg, var(--bg-primary) 0%, var(--bg-info) 100%);
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.fs_xxl {
  font-size: var(--font-size-xxl);
}
.fs_xl {
  font-size: var(--font-size-xl);
}
.fs_lg {
  font-size: var(--font-size-lg);
}
.fs_md {
  font-size: var(--font-size-md);
}
.fs_sm {
  font-size: var(--font-size-sm);
}
.fs_xs {
  font-size: var(--font-size-xs);
}

.column {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 15px;
  position: relative;
}

.column-header {
  font-weight: bold;
  font-size: var(--font-size-xl);
  margin-bottom: 10px;
}

.card {
  border: none;
  border-radius: 5px;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.12), 0 0px 3px rgba(0, 0, 0, 0.24);
}

.card-labels .badge {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
}

.card-content .icon {
  font-size: 0.9em;
}

.card-members .member {
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  margin-right: -15px;
}



.form-label {
  font-size: var(--font-size-sm);
  margin-bottom: .1rem;
}
.form-control::placeholder {
  font-size: var(--font-size-sm);
}



.circle-delete-btn {
  background-color: transparent;
  border: transparent;
  color: var(--trello-grey);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.circle-delete-btn:hover {
  background-color: var(--trello-grey);
  border-color: var(--trello-grey);
  color: #fff;
}

.circle-delete-btn i {
  font-size: .8rem; /* Adjust the icon size as needed */
}

.modal .modal_320px.modal-dialog {
  max-width: 320px;
}


.assignToUser {
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  margin-top: 10px;
  cursor: pointer;
}
.assignToUser span {
  height: 24px;
  width: 24px;
  display: inline-block;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 14px;
  margin-right: 10px;
  background: #F5F5F5;
}


.userList {
  height: 200px;
  overflow-y: auto;
  background: #f0f0f0;
  padding: 14px;
}
.userList::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #F5F5F5;
}
.userList::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}
.userList::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #333;
  border: 10px solid #333;
}

.userListItem {
  margin-bottom: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}
.userListItem:hover {
  color: var(--bg-primary);
}
.userListItem img {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    margin-right: 10px;
}